.container {
  mask-image: linear-gradient(
    to right,
    transparent 0.8em,
    white 1.5em,
    white calc(100% - 1.5em),
    transparent calc(100% - 0.8em)
  );
}

.container::-webkit-scrollbar {
  appearance: none;
}

.table-row-border {
  border-bottom: 1px solid #ccc; /* Light mode */
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.dark .table-row-border {
  border-bottom: 1px solid #555; /* Dark mode */
}